.example-selected-value {
    margin: 15px 0;
  }
  .container{
    padding:1em 8em;
}
.box{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 9px 22px 0px;
  border-radius: 0.95rem;
  margin: 0px 0px 1.75rem;
}
.btn{
  border-radius: 25px;
  width: 100%;
}
mat-card-title{
  text-align: center;
}