.center {
  margin-top: 3em;
  text-align: center;
}

.container {
  margin: 0em 10em;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
