<div fxLayout="column" fxLayoutGap="1em">
  <div class="mat-display-1 center">
    About Us
  </div>
  <div class="container">
    <div fxLayout="row">
      <div fxFlex>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu" />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Porta
          lorem mollis aliquam ut porttitor leo. Donec enim diam vulputate ut
          pharetra. In massa tempor nec feugiat. Natoque penatibus et magnis
          dis. Massa vitae tortor condimentum lacinia. Proin nibh nisl
          condimentum id venenatis. A scelerisque purus semper eget duis at.
          Amet consectetur adipiscing elit ut aliquam purus sit amet. Dolor
          purus non enim praesent elementum facilisis leo. Molestie nunc non
          blandit massa enim nec dui. Sit amet consectetur adipiscing elit ut
          aliquam.
        </p>
        <p>
          Dapibus ultrices in iaculis nunc sed augue lacus viverra. Amet tellus
          cras adipiscing enim eu turpis egestas pretium. Arcu felis bibendum ut
          tristique. Diam in arcu cursus euismod quis viverra nibh cras
          pulvinar. Erat nam at lectus urna. Commodo quis imperdiet massa
          tincidunt. In hendrerit gravida rutrum quisque non tellus. Lacus sed
          turpis tincidunt id aliquet risus feugiat in. Ornare arcu dui vivamus
          arcu felis bibendum ut. Dignissim cras tincidunt lobortis feugiat. Nec
          nam aliquam sem et tortor consequat id porta nibh. Urna nec tincidunt
          praesent semper feugiat nibh sed. Diam maecenas sed enim ut. Vulputate
          odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Ut
          diam quam nulla porttitor massa. Hac habitasse platea dictumst quisque
          sagittis purus. Pulvinar etiam non quam lacus suspendisse faucibus
          interdum posuere. Est lorem ipsum dolor sit amet consectetur
          adipiscing elit pellentesque.
        </p>
      </div>
    </div>
  </div>
  <div class="mat-display-1 center">
    Meet Our Team
  </div>
  <app-project-section></app-project-section>
  <div class="mat-display-1 center">
    What We Do
  </div>
  <div>
    <p style="margin: 0em 8em;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Porta
      lorem mollis aliquam ut porttitor leo. Donec enim diam vulputate ut
      pharetra. In massa tempor nec feugiat. Natoque penatibus et magnis
      dis. Massa vitae tortor condimentum lacinia. Proin nibh nisl
      condimentum id venenatis. A scelerisque purus semper eget duis at.
      Amet consectetur adipiscing elit ut aliquam purus sit amet. Dolor
      purus non enim praesent elementum facilisis leo. Molestie nunc non
      blandit massa enim nec dui. Sit amet consectetur adipiscing elit ut
      aliquam.
    </p>
    <br>
    <p style="margin: 0em 8em;">
      Dapibus ultrices in iaculis nunc sed augue lacus viverra. Amet tellus
      cras adipiscing enim eu turpis egestas pretium. Arcu felis bibendum ut
      tristique. Diam in arcu cursus euismod quis viverra nibh cras
      pulvinar. Erat nam at lectus urna. Commodo quis imperdiet massa
      tincidunt. In hendrerit gravida rutrum quisque non tellus. Lacus sed
      turpis tincidunt id aliquet risus feugiat in. Ornare arcu dui vivamus
      arcu felis bibendum ut. Dignissim cras tincidunt lobortis feugiat. Nec
      nam aliquam sem et tortor consequat id porta nibh. Urna nec tincidunt
      praesent semper feugiat nibh sed. Diam maecenas sed enim ut. Vulputate
      odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Ut
      diam quam nulla porttitor massa. Hac habitasse platea dictumst quisque
      sagittis purus. Pulvinar etiam non quam lacus suspendisse faucibus
      interdum posuere. Est lorem ipsum dolor sit amet consectetur
      adipiscing elit pellentesque.
    </p>
    <div style="padding:1em"></div>
  </div>
</div>
<app-social-band></app-social-band>
