<div class="container-fluid">
  <div class="mat-display-1 center">
    Sign Up!
  </div>
  <div class="stepper">
    <mat-horizontal-stepper>
      <ng-template matStepperIcon="edit" let-index="index">
        {{ index + 1 }}
      </ng-template>
      <mat-step>
        <form class="personal-details">
          <!-- Email -->
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <!-- Name -->
          <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher">
            <mat-error *ngIf="nameFormControl.hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <!-- Password -->
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher">
            <mat-error *ngIf="passwordFormControl.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('minLength')||passwordFormControl.hasError('maxLength')">
              Password length should have 8 to 10 characters
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('pattern')">
              Pattern
            </mat-error>
          </mat-form-field>

        </form>
      </mat-step>
      <mat-step>
        Select Plan <br>
        <mat-form-field class="full-width">
          <mat-label>Select an option</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="Free">Free</mat-option>
            <mat-option value="Starter">Starter</mat-option>
            <mat-option value="Premier">Premier</mat-option>
            <mat-option value="Enterprise">Enterprise</mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <div *ngIf="selected=='Starter' || selected=='Premier'">
          <label id="example-radio-group-label">Subscribition Time</label>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            [(ngModel)]="favoriteSeason">
            <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
              {{season}}
            </mat-radio-button>
          </mat-radio-group>
          <div> Cost:
            <span *ngIf="selected=='Starter'">
              <span *ngIf="favoriteSeason=='Monthly'">₹1800</span>
              <span *ngIf="favoriteSeason=='6 Months'">₹1600</span>
              <span *ngIf="favoriteSeason=='Yearly'">₹1400</span>
            </span>
            <span *ngIf="selected=='Premier'">
              <span *ngIf="favoriteSeason=='Monthly'">₹5500</span>
              <span *ngIf="favoriteSeason=='6 Months'">₹5000</span>
              <span *ngIf="favoriteSeason=='Yearly'">₹4700</span>
            </span>
          </div>
        </div>

        <div *ngIf="selected=='Enterprise'">
          Cost: Custom
        </div>

        <!-- <p>You selected: {{selected}}</p> -->
        <p>Number of bots:
          <span *ngIf="selected=='Free'">1</span>
          <span *ngIf="selected=='Starter'">5</span>
          <span *ngIf="selected=='Premier'">10</span>
          <span *ngIf="selected=='Enterprise'">Unlimited</span>
        </p>
        <p>Number of chats:
          <span *ngIf="selected=='Free'">100/Month</span>
          <span *ngIf="selected=='Starter'">100/Month</span>
          <span *ngIf="selected=='Premier'">500/Month</span>
          <span *ngIf="selected=='Enterprise'">100/Month</span>
        </p>
        <p *ngIf="selected=='Premier' || selected=='Enterprise'">
          Extra Features:
        </p>
        <ul>
          <li *ngIf="selected=='Enterprise'">Multi Lang Support</li>
          <li *ngIf="selected=='Enterprise'">Auto Email Follow Up</li>
          <li *ngIf="selected=='Enterprise'">Auto Email Follow Up</li>
          <li *ngIf="selected=='Enterprise'">Facebook Support</li>
          <li *ngIf="selected=='Enterprise'">CRM Integration</li>
          <li *ngIf="selected=='Enterprise'">Lead Notification</li>
          <li *ngIf="selected=='Enterprise'">FAQs</li>
          <li *ngIf="selected=='Enterprise' ||selected=='Premier'">Retrainable AI Bot</li>
        </ul>
      </mat-step>
      <mat-step>
        <form class="personal-details">
          <!-- Company Name -->
          <mat-form-field class="full-width">
            <mat-label>Company Name</mat-label>
            <input matInput>
          </mat-form-field>

          <!-- Website -->
          <mat-form-field class="full-width">
            <mat-label>Website URL</mat-label>
            <input matInput>
          </mat-form-field>

          <!-- Office No -->
          <mat-form-field class="full-width">
            <mat-label>Office Number</mat-label>
            <input matInput [formControl]="officeNumberFormControl" [errorStateMatcher]="matcher">
            <mat-error *ngIf="officeNumberFormControl.hasError('pattern')">
              Must contain only numbers
            </mat-error>
          </mat-form-field>

          <!-- Mobile No -->
          <mat-form-field class="full-width">
            <mat-label>Mobile Number</mat-label>
            <input matInput [formControl]="mobileNumberFormControl" [errorStateMatcher]="matcher">
            <mat-error *ngIf="mobileNumberFormControl.hasError('pattern')">
              Must contain only numbers
            </mat-error>
          </mat-form-field>

        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
