<div class="product">
    <div class="mat-display-1">
        Machine learning powered by open source
    </div>
    <p>Rasa Open Source is a machine learning framework to automate text- and voice-based assistants.</p>
    <div fxLayout="row" fxLayoutGap="1em" fxLayout.xs="column" fxLayout.sm="column" [ngClass]="getContainer()">
        <mat-card fxFlex class="body">
            <img class="center" src="../../../assets/img/home-page/image1.svg">
            <mat-card-content>
                <div class="title">
                    Multiple integration and channel options
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div class="center"><a>Read More → </a></div>
           </mat-card-actions>
        </mat-card>
        <mat-card fxFlex class="body">
            <img class="center" src="../../../assets/img/home-page/image1.svg">
            <mat-card-content>
                <div class="title">
                    Multiple integration and channel options
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div class="center"><a>Read More → </a></div>
           </mat-card-actions>
        </mat-card>
        <mat-card fxFlex class="body">
           <img class="center" src="../../../assets/img/home-page/image1.svg">
            <mat-card-content>
                <div class="title">
                    Multiple integration and channel options
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div class="center"><a>Read More → </a></div>
           </mat-card-actions>
        </mat-card>
    </div>
</div>