<div class="product">
    <div class="mat-display-1">
        Powered by Machine learning
    </div>
    <p>Alira is a machine learning framework to automate text- and voice-based assistants.</p>
    <div fxLayout="row" fxLayoutGap="1em" fxLayout.xs="column" fxLayout.sm="column" [ngClass]="getContainer()">
        <mat-card fxFlex class="body">
            <img class="center" src="../../../assets/img/home-page/image1.svg">
            <mat-card-content>
                <div class="title">
                    Build
                </div>
                <p>Alira framework for NLU, dialogue, and integrations.</p>
            </mat-card-content>
            <mat-card-actions>
                <div class="center"><a>Read More → </a></div>
            </mat-card-actions>
        </mat-card>
        <mat-card fxFlex class="body">
            <img class="center" src="../../../assets/img/home-page/image1.svg">
            <mat-card-content>
                <div class="title">
                    Ship
                </div>
                <p>Test, deploy, and improve your assistant with alira.</p>
            </mat-card-content>
            <mat-card-actions>
                <div class="center"><a>Read More → </a></div>
            </mat-card-actions>
        </mat-card>
        <mat-card fxFlex class="body">
            <img class="center" src="../../../assets/img/home-page/image1.svg">
            <mat-card-content>
                <div class="title">
                    Scale
                </div>
                <p>Superior, two-way conversations with every customer, with Alira Enterprise</p>
            </mat-card-content>
            <mat-card-actions>
                <div class="center"><a>Read More → </a></div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>