.title{
    text-align: center;
    font-size: large;
    line-height: 1em;
}
.contact-form{
    padding:0% 10%;
}    

.container{
    padding-left: 10%;
    padding-top:2%;
}
.contact-info{
    // border: 1px solid red;
    padding:0em 5em;
}

.icons{
    margin-top:0.5em;
}

.info{
    margin-top:2em;
}
.card{
    background-color: #64b;
    color:white;    
    padding:0em 0.5em;
}
.map-container{
    // height: 300px;
    // padding-bottom: 0.5em;
    // padding-left: 1em;
}
@media(max-width:700px){
    .contact-info{
        padding:3em 5em;
    }
}
