<div fxLayout="column" style="background-color: white;">
<div fxFlex="1 1 auto"  class="flex-container" style="text-align: center;">
    <div class="mat-display-1">Get In Touch!
    </div>
    <div class="title">
        We'd love to hear from you!
        Whether you have a question about our features, trials, pricing or need a demo 
        the Alira team is ready to answer all of them.
    </div>
</div>
<div fxFlex="1 1 auto">
<app-form></app-form>
</div>
<div fxFlex="1 1 auto">
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">        
        <div fxFlex id="map-container-google-1" 
            class="flex-container z-depth-1-half map-container" >
            <iframe width="100%" height="100%" id="gmap_canvas" 
                    src="https://maps.google.com/maps?q=Alira%20pune&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
        <div fxFlex>
            <div class="card" fxLayout="row">
                <div class="address">
                    <i class="material-icons">place</i>{{address}}
                </div>
                <div fxFlex style="padding-top:3em">
                    <span style="padding-right:1em">
                        <i class="material-icons">smartphone</i>{{phone}} 
                    </span>
                    <i class="material-icons icons" >email</i>{{email}}
                    <div>
                        <img src="../../assets/img/social-media-icons/facebook.svg">
                        <img src="../../assets/img/social-media-icons/instagram.svg">
                        <img src="../../assets/img/social-media-icons/twitter.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


