
<div class="header-contact" >
    <div class="mat-display-2 title">Contact Us!</div>
    <div fxLayout="rows" style="text-align: center;width: 50%;margin-left:20%">
    <div fxFlex>
        <div fxLayout="column">
            <div fxFlex="1 1 auto">
                <i class="material-icons icon">map</i>
            </div>
            <div fxFlex="5 1 auto">
                <address class="icons">
                    204, 2<sup>nd</sup> floor, Nyati Eureka,<br>
                    Mundhwa-Kharadi Road, Kharadi,<br>
                    Pune - 411014<br>
                    Maharashtra
                    India
                </address>
            </div>
        </div>
    </div>
    <div fxFlex>
        <div fxLayout="column">
            <div fxFlex="">
                <i class="material-icons icon">smartphone</i>
            </div>
             <div fxFlex="">
                <span class="">+91 98900 77818</span>
             </div>
        </div>
    </div>
    <div>
        <div fxLayout="column">
            <div fxFlex="">
                <i class="material-icons icon" >email</i>
            </div>
            <div fxFlex="">
                <span >hello@alira.ai</span>
            </div>
        </div>
    </div>
</div>
</div>
<!--
<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div fxFlex="1 1 auto">
        <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
        <iframe width="110%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=Alira%20pune&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div> 
    </div>
    <div fxFlex="1 1 auto">
        <span class="mat-typography"></span>
            <h3 class="title1">Pune Office:  </h3>
            <div class="title1">
                We'd love to hear from you!<br>
                Whether you have a question about features, trials, pricing or need a demo 
                <br>our Alira team is ready to answer all of them.
            </div>
        <div fxLayout="row" class="container">
            <div fxFlex>
                <div fxLayout="rows">
                    <div fxFlex="1 1 auto">
                        <i class="material-icons icon">map</i>
                    </div>
                    <div fxFlex="5 1 auto">
                        <address class="icons">
                            204, 2<sup>nd</sup> floor, Nyati Eureka,<br>
                            Mundhwa-Kharadi Road, Kharadi,<br>
                            Pune - 411014<br>
                            Maharashtra
                            India
                        </address>
                    </div>
                </div>
            </div>
            <div fxFlex>
                <div fxLayout="column">
                    <div fxFlex>
                        <div fxLayout="rows">
                            <div fxFlex="1 1 auto">
                                <i class="material-icons icon">smartphone</i>
                            </div>
                             <div fxFlex="5 1 auto">
                                <span class="icons">+91 98900 77818</span>
                             </div>
                        </div>
                    </div>
                    <div fxFlex>
                        <div fxLayout="rows">
                            <div fxFlex="1 1 auto">
                                <i class="material-icons icon" >email</i>
                            </div>
                            <div fxFlex="5 1 auto">
                                <span class="icons">hello@alira.ai</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <mat-icon svgIcon="facebook"></mat-icon>
        <section class="contact-form">
            <form fxLayout="column" fxLayoutAlign>
                <mat-form-field>
                    <input type="name" matInput placeholder="Name">
                </mat-form-field>
                <mat-form-field>
                    <input type="email" matInput placeholder="Email">
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="Subject">
                </mat-form-field>
                <mat-form-field>
                    <textarea name="message" matInput 
                    placeholder="Message"
                    rows="1" ></textarea>
                  </mat-form-field>
                  <button mat-raised-button class="btn">
                    Get Started</button>     
            </form>
        </section>
    </div>
</div>
-->
