/*[fxFlex]{
    border:1px solid red;
}*/
.icons{
    margin-left:-5%;
}
.icon{
    padding-left:5%;
}
.title1{
    margin-left: 10%;;
}
.title{
    text-align: center;
}
.contact-form{
    padding:0% 10%;
}    
.btn{
    width:20%;
    margin-left:40%;
}
.container{
    padding-left: 10%;
    padding-top:2%;
}
.social{
    padding:0% 5%;
}
.mat-display-2{
    padding-bottom:0%;
}
/*----------------------------------------*/
.header-contact{
    padding-top: 5%;;
    /*background-color: #57f;
    width:100%;
    height:auto;
    color:white;*/
}
address{
    text-align: justify;
    margin-left:10%;
}
.input{
    width:290px;
}