.pricing {
  padding: 2em;
}

.center {
  text-align: center;
}


mat-card {
  width: 25%;
}

.container,
.mat-display-1 {
  background-color: white;
  padding: 3% 3%;
}

.mat-display-1 {
  margin: 0px;
}

mat-card-title,
mat-card-subtitle,
mat-card-actions,
mat-card-content h3 {
  text-align: center;
}

@media(max-width:700px) {
  mat-card {
    width: 80%;
  }
}
