<div fxLayout="column" class="pricing" fxLayoutGap="1em">
  <div class="mat-display-1 center">
    Patners
  </div>
  <div class="container">
    <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="3%" fxLayoutAlign="center center">
      <mat-card class="child-1" fxFlex="1 1 auto">
        <mat-card-title>Referer</mat-card-title>
        <mat-card-subtitle>(Referer/Consultant/Influencer)</mat-card-subtitle>
        <mat-card-content>
          <h3 class="title">Lifetime Recurring Commission On All Sales</h3>
          <ul>
            <li>Monthly Payouts</li>
            <li>Dashboard</li>
            <li>Earn 20% Of Your Referral's Payment</li>
            <li>Bonus Payouts For Milestone Referrals</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-flat-button color="primary" disableRipple=true (click)="navigateToSignUpPage('referer')>Get Started</button> -->
          <button mat-flat-button color="primary" disableRipple=true (click)="navigateToSignUpPage('referer')">Get
            Started</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class=" child-2" fxFlex="1 1 auto">
        <mat-card-title>Agency</mat-card-title>
        <mat-card-subtitle>(Digital Marketing/Web Development Agencies)</mat-card-subtitle>
        <mat-card-content>
          <h3 class="title">An Agency Partnership Programme Like Never Before.</h3>
          <ul>
            <li> Show Clear ROI To Your Customers </li>
            <li> Custom Features At A Discounted Price </li>
            <li> Advanced Reports </li>
            <li> White-Label Solution Available </li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-flat-button color="primary" disableRipple=true>Get Started</button> -->
          <button mat-flat-button color="primary" disableRipple=true (click)="navigateToSignUpPage('agency')">Get
            Started</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="child-3" fxFlex="1 1 auto">
        <mat-card-title>Reseller</mat-card-title>
        <mat-card-subtitle>(Resellers/Channel Partners)</mat-card-subtitle>
        <mat-card-content>
          <h3 class="title">Resell As If It Is Your Own</h3>
          <ul>
            <li> Reseller Dashboard </li>
            <li> Exclusive Deals </li>
            <li> Customized Plans </li>
            <li> White-Label Solution Available </li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary" disableRipple=true (click)="navigateToSignUpPage('reseller')">Get
            Started</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<app-social-band></app-social-band>
