<div class="product">
    <div class="mat-display-1">
        Check out what other developers 
    </div>
    <p>Our community showcase includes assistants from commercial applications to just-for-fun bots</p>
    <div fxLayout="row" fxLayoutGap="5em" fxLayout.xs="column" fxLayout.sm="column" [ngClass]="getContainer()">
        <mat-card fxFlex class="body">
            <img src="../../../assets/img/home-page/image2.webp" alt="" mat-card-image>
            <div class="inside">
                <mat-card-subtitle>Commercial assistants</mat-card-subtitle>
                <mat-card-content>
                    <div class="title">
                        Neon:answering questions and solving problems for bank customers
                    </div>
                </mat-card-content>
                <mat-card-footer>
                <div class="footer">
                    rasa community project
                </div>
                </mat-card-footer>
            </div>
        </mat-card>
        <mat-card fxFlex class="body">
            <img src="../../../assets/img/home-page/image2.webp" alt="" mat-card-image>
            <div class="inside">
                <mat-card-subtitle>Commercial assistants</mat-card-subtitle>
                <mat-card-content>
                    <div class="title">
                        Neon:answering questions and solving problems for bank customers
                    </div>
                </mat-card-content>
                <mat-card-footer>
                <div class="footer">
                    rasa community project
                </div>
                </mat-card-footer>
            </div>
        </mat-card>
        <mat-card fxFlex class="body">
            <img src="../../../assets/img/home-page/image2.webp" alt="" mat-card-image>
            <div class="inside">
                <mat-card-subtitle>Commercial assistants</mat-card-subtitle>
                <mat-card-content>
                    <div class="title">
                        Neon:answering questions and solving problems for bank customers
                    </div>
                </mat-card-content>
                <mat-card-footer>
                <div class="footer">
                    rasa community project
                </div>
                </mat-card-footer>
            </div>
        </mat-card>
        <mat-card fxFlex class="body">
            <img src="../../../assets/img/home-page/image2.webp" alt="" mat-card-image>
            <div class="inside">
                <mat-card-subtitle>Commercial assistants</mat-card-subtitle>
                <mat-card-content>
                    <div class="title">
                        Neon:answering questions and solving problems for bank customers
                    </div>
                </mat-card-content>
                <mat-card-footer>
                <div class="footer">
                    rasa community project
                </div>
                </mat-card-footer>
            </div>
         </mat-card>
    </div>
    <div class="btn">
        <button mat-flat-button>Meet more assistants in the Alira community showcase</button>
    </div>
</div>