<div class="product">
    <div class="mat-display-1">
        Omnichannel Chatbot
    </div>
    <p style="margin-bottom: 100px;">Unified Chatbot Experience For Website, Whatsapp, Blog, Facebook Messenger And Mobile Applications</p>
    <div fxLayout="row" fxLayoutGap="5em" fxLayout.xs="column" fxLayout.sm="column" [ngClass]="getContainer()">
        <mat-card fxFlex class="body">
            <img style="width:80% " class="product-image" src="../../../assets/img/home-page/website_chatbot.png" alt="" mat-card-image>
            <div class="inside">
                <mat-card-title>Website Chatbot</mat-card-title>
                <mat-card-content>
                    <div class="sub-title">
                        Install Alira Bot on your website and automate the engagement with your visitors.
                    </div>
                </mat-card-content>
                <mat-card-footer>
                    <div class="footer">
                        View More
                    </div>
                </mat-card-footer>
            </div>
        </mat-card>
        <mat-card fxFlex class="body">
            <img src="../../../assets/img/home-page/whatsapp.png" alt="" mat-card-image>
            <div class="inside">
                <mat-card-title>WhatsApp Chatbot</mat-card-title>
                <mat-card-content>
                    <div class="sub-title">
                        Automate your whatsapp business conversations through Alira Bot
                    </div>
                </mat-card-content>
                <mat-card-footer>
                    <div class="footer">
                        View More
                    </div>
                </mat-card-footer>
            </div>
        </mat-card>
        <mat-card fxFlex class="body">
            <img src="../../../assets/img/home-page/facebook_chatbot.jpg" alt="" mat-card-image>
            <div class="inside">
                <mat-card-title>Facebook Messenger Chatbot</mat-card-title>
                <mat-card-content>
                    <div class="sub-title">
                        Install Alira Bot on your messenger to automate the engagement with your audience.
                    </div>
                </mat-card-content>
                <mat-card-footer>
                    <div class="footer">
                        View More
                    </div>
                </mat-card-footer>
            </div>
        </mat-card>
        <mat-card fxFlex class="body">
            <img src="../../../assets/img/home-page/mobile-chatbot.png" alt="" mat-card-image>
            <div class="inside">
                <mat-card-title>Mobile app Chabot</mat-card-title>
                <mat-card-content>
                    <div class="sub-title">
                        Integrate and Install Alira Bot into your mobile application and never worry about giving customer support again.
                    </div>
                </mat-card-content>
                <mat-card-footer>
                    <div class="footer">
                        View More
                    </div>
                </mat-card-footer>
            </div>
        </mat-card>
    </div>
    <!--<div class="btn">
        <button mat-flat-button>Meet more assistants in the Alira community showcase</button>
    </div>-->
</div>