@font-face {
    font-family: 'futuraLight';
    src: url("../assets/fonts/FuturaPTLight.otf");
}
@font-face{
    font-family: 'Graphik';
    src: url("../assets/fonts/Graphik/Graphik-Regular.ttf");
}
@font-face{
    font-family: 'GraphikBold';
    src: url("../assets/fonts/Graphik/Graphik-Bold.ttf");
}
// mat-grid-tile{
//     border:1px solid red;
// }