
<!-- Start of navbar-->
<mat-toolbar class="navbar" [ngClass]="{'hdr': !scrolling, 'hdrScroll': scrolling}">
  <!--logo-->
    <img class="logo" src="../../../assets/img/logo/alira_logo_black.png" alt="alira_logo">
  
  <!--Navigation Links-->
  <div fxShow="true" fxHide.lt-md="true" class="buttons">
    <!--Home-->
    <a routerLink="/" mat-button disableRipple=true>Home</a>
    <!--Pricing-->
    <a routerLink="/pricing" mat-button disableRipple=true>Pricing</a>
    <!--Company-->
    <mat-menu #companyMenu="matMenu">
      <a routerLink="/patners" mat-menu-item disableRipple=true>Patners</a>
      <a routerLink="/aboutUs" mat-menu-item disableRipple=true>About Us</a>
      <a routerLink="/contact" mat-menu-item disableRipple=true>Contact Us</a>
      <a routerLink="/events" mat-menu-item disableRipple=true>Events</a>
      <a routerLink="/careers" mat-menu-item disableRipple=true>Careers</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="companyMenu"
    disableRipple=true>
      Company
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <!--Resources-->
    <mat-menu #resourcesMenu="matMenu">
      <a routerLink="/patners" mat-menu-item disableRipple=true>Blog</a>
      <a routerLink="/contact" mat-menu-item disableRipple=true>Articles</a>
      <a routerLink="/contact" mat-menu-item disableRipple=true>FAQ</a>
      <a routerLink="/contact" mat-menu-item disableRipple=true>Help Desk</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="resourcesMenu"
    disableRipple=true>
      Resources
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>

  <div fxShow="true" fxHide.lt-md="true" class="buttons">
    <button mat-flat-button class="btn" color="accent" 
       disableRipple=true>Get Started</button>
    <button mat-button disableRipple=true>Login</button>
  </div>

  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
<!--end of navbar-->
<mat-sidenav-container color="primary" fxFlexFill >
  <mat-sidenav #sidenav fxLayout="column" class="container" role="navigation">
    <div fxLayout="column">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
      </button>
      <a routerLink="/" mat-button>Home</a>
      <a routerLink="/patners" mat-button>Patners</a>
      <a routerLink="/pricing" mat-button>Pricing</a>
      <a routerLink="/blog" mat-button>Blog</a>
      <a routerLink="/contact" mat-button>Contact</a>
    
    </div>
    <div>
      <button mat-flat-button color="primary" 
        class="btn" disableRipple=true >Get Started</button>
      <button mat-button disableRipple=true>Login</button>
    </div>
  </mat-sidenav>
    <mat-sidenav-content fxFlexFill class="container-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

