<div style="height: 100vh;">
  <mat-toolbar class="navbar">
    <span class="logo">
      <img src="../../../assets/img/logo/logo.webp" alt="alira_logo">
    </span>

    <div fxShow="true" fxHide.lt-md="true">
      <a href="#" mat-button>Home</a>
      <a href="#" mat-button>Patners</a>
      <a href="#" mat-button>Pricing</a>
      <a href="#" mat-button>Blog</a>
      <a href="#" mat-button>Contact</a>
    </div>

    <div fxShow="true" fxHide.lt-md="true">
      <button mat-raised-button class="btn">Get Started</button>
      <button mat-button>Login</button>
    </div>

    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
        <a href="#" mat-button>Home</a>
        <a href="#" mat-button>Patners</a>
        <a href="#" mat-button>Pricing</a>
        <a href="#" mat-button>Blog</a>
        <a href="#" mat-button>Contact</a>
      </div>
      <div>
        <button mat-raised-button class="btn">Get Started</button>
        <button mat-button>Login</button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
