
<div style="height: 100vh;">
  <mat-toolbar class="navbar">
    <span class="logo"> <!--logo-->
      <img src="../../../assets/img/logo/icon1.png" alt="alira_logo">
      <!--<span class="name">Alira</span>-->
    </span>

    <div fxShow="true" fxHide.lt-md="true">
      <a routerLink="/" mat-button>Home</a>
      <a routerLink="/patners" mat-button>Patners</a>
      <a routerLink="/pricing" mat-button>Pricing</a>
      <a routerLink="/blog" mat-button>Blog</a>
      <a routerLink="/contact" mat-button>Contact</a>
    </div>

    <div fxShow="true" fxHide.lt-md="true">
      <button mat-flat-button class="btn" color="primary">Get Started</button>
      <button mat-button>Login</button>
    </div>

    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <!--<button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
        </button>-->
        <a routerLink="/" mat-button>Home</a>
        <a routerLink="/patners" mat-button>Patners</a>
        <a routerLink="/pricing" mat-button>Pricing</a>
        <a routerLink="/blog" mat-button>Blog</a>
        <a routerLink="/contact" mat-button>Contact</a>
      </div>
      <div>
        <button mat-flat-button color="primary" class="btn">Get Started</button>
        <button mat-button>Login</button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
