<div class="blog">
    <div class="mat-display-1">
        Check the Blogs
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3%" fxLayoutAlign.xs="center" [ngClass]="getContainer()">
        <mat-card class="box" fxFlex [ngClass]="getWidth()">
            <mat-card-title>The Alira Masterclass Handbook: Episode 11</mat-card-title>
            <mat-card-subtitle>
                <mat-icon><i class="material-icons">
                account_circle
                </i> </mat-icon>
                <div class="name">by <b>{{name}}</b> on Feb 13,2020 </div>
            </mat-card-subtitle>
            <mat-card-content>
                <p>
                    In this episode, we'll make the assistant available to real users on two publicly accessible messaging channels: Telegram and a website chat widget.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button class="btn" disableRipple=true>Read More</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="box" fxFlex [ngClass]="getWidth()">
            <mat-card-title>The Alira Masterclass Handbook: Episode 11</mat-card-title>
            <mat-card-subtitle>
                <mat-icon><i class="material-icons">
                account_circle
                </i> </mat-icon>
                <div class="name">by <b>{{name}}</b> on Feb 13,2020 </div>
            </mat-card-subtitle>
            <mat-card-content>
                <p>
                    In this episode, we'll make the assistant available to real users on two publicly accessible messaging channels: Telegram and a website chat widget.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button class="btn" disableRipple=true>Read More</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="box" fxFlex style="display:inline" [ngClass]="getWidth()">
            <mat-card-title>The Alira Masterclass Handbook: Episode 11</mat-card-title>
            <mat-card-subtitle>
                <mat-icon><i class="material-icons">
                account_circle
                </i> </mat-icon>
                <div class="name">by <b>{{name}}</b> on Feb 13,2020 </div>
            </mat-card-subtitle>
            <mat-card-content>
                <p>
                    In this episode, we'll make the assistant available to real users on two publicly accessible messaging channels: Telegram and a website chat widget.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button class="btn" disableRipple=true>Read More</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>