<div class="blog">
<div class="mat-display-1">
    <mark>Check the Blogs!</mark>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3%" class="body">
    <mat-card class="child-1 box" fxFlex>
        <mat-card-title>The Rasa Masterclass Handbook: Episode 11</mat-card-title>
        <mat-card-subtitle>
            <mat-icon><i class="material-icons">
                account_circle
                </i> </mat-icon> 
                <div class="name">by <b>{{name}}</b> on Feb 13,2020 </div> 
        </mat-card-subtitle>
        <mat-card-content>
            <p>
            In this episode, we'll make the assistant available to real users on two publicly accessible messaging channels: Telegram and a website chat widget.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button  
            color="primary" disableRipple=true>Read More</button>
        </mat-card-actions>
    </mat-card> 
    <mat-card class="child-2 box" fxFlex>
        <mat-card-title>The Rasa Masterclass Handbook: Episode 11</mat-card-title>
        <mat-card-subtitle>
            <mat-icon><i class="material-icons">
                account_circle
                </i> </mat-icon> 
                <div class="name">by <b>{{name}}</b> on Feb 13,2020 </div> 
        </mat-card-subtitle>
        <mat-card-content>
            <p>
            In this episode, we'll make the assistant available to real users on two publicly accessible messaging channels: Telegram and a website chat widget.
        </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button  
            color="primary" disableRipple=true>Read More</button>
        </mat-card-actions>
    </mat-card> 
    <mat-card class="child-3 box" fxFlex  style="display:inline">
        <mat-card-title>The Rasa Masterclass Handbook: Episode 11</mat-card-title>
        <mat-card-subtitle>
            <mat-icon><i class="material-icons">
                account_circle
                </i> </mat-icon> 
                <div class="name">by <b>{{name}}</b> on Feb 13,2020 </div> 
        </mat-card-subtitle>
        <mat-card-content>
            <p>
            In this episode, we'll make the assistant available to real users on two publicly accessible messaging channels: Telegram and a website chat widget.
                </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button  
            color="primary" disableRipple=true>Read More</button>
        </mat-card-actions>
    </mat-card>
</div>
</div>