

<div class="order">
    <div class="mat-display-1">
        Chatfuel
    </div>
    
    <div fxLayout ="column" fxLayoutGap="1em" fxLayout.xs="column" fxLayout.sm="column" [ngClass]= "">
        <mat-card fxFlex class="body">
            <img src="../../assets\img\home-page\alira1.jpeg"  mat-card-image>
          
            <div class="outside">
        
          
                <mat-card-title><h1>Stop Losing custemers <br>to the competition</h1></mat-card-title>
               
                <mat-card-content>

                    <div class="sub-title">
                     
                      If your business is slow to questions,your custemers will
                       choose <br>the competition instead.But with a chatbot,your
                    brand can <br>
                    brand can reply instantly,24/7.<br>
                       <br>
                    

                        A bot can resolve up to 80% of customer inquiries,
                        you can save<br>
                       time and resources and win more business.
                        
                    </div>
                    
                </mat-card-content>
               
                
                 <div class="title">
                    Get started with our free FAQ template
                    
                </div>
                
                <mat-card-footer>
                    <div class="btn">
        <button mat-flat-button>Try it now</button>
    </div>
                </mat-card-footer>
            </div>
        </mat-card>
        <br>
        <mat-card fxFlex class="body">
            <img src="../../../assets\img\home-page\alira3.jpeg" alt="" mat-card-image>
            
            <div class="inside">
                <mat-card-title><h2>Spend less money,<br>get more leads</h2></mat-card-title>
                <mat-card-content>
                    <div class="sub-title">
                         A messanger bot is the next best thing to a human salesperson.<br>
                        
                         You can use it to attract leads and immediatly engage <br>
                         
                         them,asking questions to qualify them so you don't waste time<br>
                         
                         on the wrong prospects.With a bot,you can cut your cost per<br>
                          
                         lead by up to 7x.
                    </div>
                </mat-card-content>
                <div class="title">
                   Start qualifying leads in minutes
                </div>
                <mat-card-footer>
                     <div class="btn">
        <button mat-flat-button>Sign up free</button>
    </div>
                </mat-card-footer>
            </div>
        </mat-card>
        <mat-card fxFlex class="body">
            <img src="../../../assets\img\home-page\alira2.jpeg" alt="" mat-card-image>
            <div class="inside">
                <mat-card-title><h2> Make your ad dollars go  further </h2></mat-card-title>
                <mat-card-content>
                    <div class="sub-title">
                        Send prospects from your ads to a convesation with your bot <br>
                        instead of to a static landing page .It can answer their questions,<br>
                        counter their objections,and get them to buy-all on autopilot,so <br>
                        you can earn a return on ad spend of up to 10x or more.<br>
                    </div>
                </mat-card-content>
                <div class="title">
                   Link your Facebook ads to a chatbot
                </div>
                <mat-card-footer>
                     <div class="btn">
        <button mat-flat-button>Try it free</button>
    </div>
                </mat-card-footer>
            </div>
        </mat-card>
        <mat-card fxFlex class="body">
            <img src="../../../assets\img\home-page\alira4.jpeg" alt="" mat-card-image>
            <div class="inside">
                <mat-card-title><h1>Build your first bot in minutes,without code</h1></mat-card-title>
                <mat-card-content>
                    <div class="sub-title">
                        Our drag-and-drop interface for building chatbots is visual and <br>
                        intuitive.There's no code tech knowledge required, so you <br>
                        can build a simple bot your business in as little as a few<br>
                         minutes
                    </div>
                </mat-card-content>
             
           <div class="title">
                    Build your first in three minutes
                </div>

                <mat-card-footer>
                     <div class="btn">
        <button mat-flat-button>Get started</button>
    </div>
                </mat-card-footer>
            </div>
        </mat-card>
    </div>
       
   
</div>
