<div class="social">
<div class="mat-display-1">
    <mark>What they're saying</mark>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em" class="body">
    <mat-card class="child-1 box" fxFlex>
        <img src="../../../assets/img/home-page/face-24px.svg"> 
        <img src="../../../assets/img/social-media-icons/twitter.svg" class="social-icon">
        <mat-card-subtitle>
            Traefik <br>
            <b>@traefik</b>
        </mat-card-subtitle>
        <mat-card-content>
            <p class="content">
            Companies like Google, Microsoft and Amazon are fighting for the top spots
            in the industry over Chatbot technology. With these large companies, 
            these is a lot at stake and a lot to gain. 
            <p>
            <div class="image">
                <img src="../../../assets/img/home-page/social-img.jpeg">
            </div>
        </mat-card-content>
        <hr>
        <mat-card-actions class="footer">
                <a>See Trafik's other Tweets</a>
        </mat-card-actions>
    </mat-card>
    <mat-card class="child-2 box" fxFlex>
        <img src="../../../assets/img/home-page/face-24px.svg"> 
        <img src="../../../assets/img/social-media-icons/twitter.svg" class="social-icon">
        <mat-card-subtitle>
            Traefik <br>
            <b>@traefik</b>
        </mat-card-subtitle>
        <mat-card-content>
            <p class="content">
            Companies like Google, Microsoft and Amazon are fighting for the top spots
            in the industry over Chatbot technology. With these large companies, 
            these is a lot at stake and a lot to gain. 
            <p>
            <div class="image">
                <img src="../../../assets/img/home-page/social-img.jpeg">
            </div>
        </mat-card-content>
        <hr>
        <mat-card-actions class="footer">
                <a>See Trafik's other Tweets</a>
        </mat-card-actions>
    </mat-card>
    <mat-card class="child-3 box" fxFlex>
        <img src="../../../assets/img/home-page/face-24px.svg"> 
        <img src="../../../assets/img/social-media-icons/twitter.svg" class="social-icon">
        <mat-card-subtitle>
            Traefik <br>
            <b>@traefik</b>
        </mat-card-subtitle>
        <mat-card-content>
            <p class="content">
            Companies like Google, Microsoft and Amazon are fighting for the top spots
            in the industry over Chatbot technology. With these large companies, 
            these is a lot at stake and a lot to gain. 
            <p>
            <div class="image">
                <img src="../../../assets/img/home-page/social-img.jpeg">
            </div>
        </mat-card-content>
        <hr>
        <mat-card-actions class="footer">
                <a>See Trafik's other Tweets</a>
        </mat-card-actions>
    </mat-card>
</div>
</div>