.heading {
  padding: 3em 4em;
}

.center {
  text-align: center;
}

.mat-h4 {
  margin-bottom: 0em;
  font-variant: small-caps;
}

.post {
  padding: 0em 10em;
}

.chips {
  padding-bottom: 2em;
}

.form {
  padding: 0em 15em 2em;
}

.border {
  border: 1px solid black;
  //   float: right;
}

mat-form-field {
  width: 300px;
}
