<div class="container-fluid">
  <div class="post-image">
    <img src="../../../assets/img/blog/blog_python.jpg">
  </div>
  <div class="title">
    <p>It is a long established fact a reader be distracted</p>
  </div>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit, quisquam doloremque
      distinctio perferendis et doloribus unde architecto optio laboriosam porro adipisci sapiente officiis nemo
      accusamus
      ad praesentium? Esse minima nisi et. Dolore perferendis, enim praesentium omnis, iste doloremque quia officia
      optio
      deserunt molestiae voluptates soluta architecto tempora.</p>

    <p>Molestiae cupiditate inventore animi, maxime sapiente optio, illo est nemo veritatis repellat sunt doloribus
      nesciunt! Minima laborum magni reiciendis qui voluptate quisquam voluptatem soluta illo eum ullam incidunt rem
      assumenda eveniet eaque sequi deleniti tenetur dolore amet fugit perspiciatis ipsa, odit. Nesciunt dolor minima
      esse
      vero ut ea, repudiandae suscipit!</p>
  </div>
</div>
<!-- <app-social-band></app-social-band> -->
