.post-image img {
  padding: 8em 0em 2em 8em;
  max-width: 800px;
}

.title {
  padding: 0em 8em
}

.title p {
  font-size: 30px;
  font-weight: bold;
  color: #13f;
}

.content {
  padding: 0em 30em 0em 8em
}

.content p {
  text-align: justify;
}
