<div class="article">
<div class="mat-display-1">
    Latest from Alira
</div>
<div fxLayout="row" fxLayout="row" fxLayoutGap="1em" class="container">
    <mat-card fxFlex>
        <mat-card-subtitle>Latest Press</mat-card-subtitle>
        <mat-card-content>
            <div class="title">
                Rasa CLO Alan Nichol on what Google Meena means for the future of AI assistants
            </div>
        </mat-card-content>
        <mat-card-actions>
             <a>Read More → </a>
        </mat-card-actions>
    </mat-card>
    <mat-card fxFlex>
        <mat-card-subtitle>Latest Press</mat-card-subtitle>
        <mat-card-content>
            <div class="title">
                Rasa CLO Alan Nichol on what Google Meena means for the future of AI assistants
            </div>
        </mat-card-content>
        <mat-card-actions>
            <a>Read More → </a>
       </mat-card-actions>
    </mat-card>
    <mat-card fxFlex>
        <mat-card-subtitle>Latest Press</mat-card-subtitle>
        <mat-card-content>
            <div class="title">
                Rasa CLO Alan Nichol on what Google Meena means for the future of AI assistants
            </div>
        </mat-card-content>
        <mat-card-actions>
            <a>Read More → </a>
       </mat-card-actions>
    </mat-card>
</div>
</div>