.mat-display-1{
    text-align: center;   
}
mat-card-subtitle{
    font-variant: small-caps ;
    color:#64b;
}
.title{
    padding:1em;
}
.container{
    padding:1em 8em;
}
.article{
    background-color: #fff;
}
.arrow{
    margin-top:1em;
}
a{
    color:#64b;
    font-weight: bold;
}