hr{
  width:90%;
  opacity: 45%;
}
//footer box
.container{
  margin: 15px;
  // border:2px solid red;
 }

//logo
.logo img{
  width:60%;    
}
.title{
  color:#64b;
  font-weight: bold;
}
.tab{
  padding:0px 8%;  
  color:gray;
}
.btn{
  // height:2em;
  // margin-top:3%; 
}

.heading{
  font-weight: bold;
}
//last-line
.last-line{
  padding:0em 4.5em;
}
.copy-right{
  color:#888;
}
.social-media-icons{
  padding:0em 1em;
}
.list{
  margin-left:-1em;
}
a{
  text-decoration: none;
  color:gray
}
.mat-form-field{
  // padding:0em;
  font-size:10px;
}