<div style="background-color: #1A1364; text-align: center;">
    <span style="padding-top: 30%;">
        <div class="mat-display-2 title">Start Creating Your Own Chatbot!</div> 
        <button mat-flat-button color="accent" class="btn">Get Started</button>
    </span>
</div>
<div fxLayout='row' fxLayout.xs="column" fxLayout.sm="column">
    <div fxFlex="33">
        <div class="logo">
            <img src="../../../assets/img/logo/logo.webp"> <br>
            Copyright © 2020 <br>
            <a routerLink="/">Alira</a> 
            <small> All Rights Reserved </small>
        </div>
    </div>
    <div fxFlex="33" class="one">
        <div class="col2">
            <span class="txt">Services Links:</span>
            <div fxLayout="row" class="two">
                <div fxFlex="50">
                    <mat-nav-list>
                        <a mat-list-item>What we provide </a>
                        <a mat-list-item>Join Us</a>
                        <a mat-list-item>FAQ</a>
                    </mat-nav-list>
                </div>
                <div fxFlex="35"> 
                    <mat-nav-list>
                        <a mat-list-item>Our Blogs</a>
                        <a mat-list-item>Contact Us</a>
                        <a mat-list-item>Easy Pay</a>
                    </mat-nav-list>
                </div>
            </div>
        </div>
    </div>
    <div fxFlex="33">
        <span class="txt">Get In Touch...</span>
        <ul style="list-style-type: none;">
            <li><strong>Phone:</strong> +919890077818</li>
            <li><strong>Email:</strong> <span style="text-transform: lowercase">hello@alira.ai</span></li>
            <li><strong>Address:</strong>
                <address>
                    204, 2<sup>nd</sup> floor, Nyati Eureka,<br>
                    Mundhwa-Kharadi Road, Kharadi,<br>
                    Pune - 411014<br>
                    Maharashtra
                    India
                    </address>
            </li>
        </ul>
    </div>
</div>
