<div class="form-container">
    <form [formGroup]="rForm" 
            (ngSubmit)="addPost(rForm.value)"
            fxLayout="column">
            <mat-form-field>
                <input type="text" matInput placeholder="Name" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <input type="email" matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Phone" formControlName="phone">
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="LinkedIn" formControlName="linkedIn">
            </mat-form-field>
            <button mat-stroked-button class="btn" [disabled]="!rForm.valid">
                Get Started
            </button>  
    </form>
</div>