/* You can add global styles to this file, and also import other style files */



html, body { height: 100%; }
body { margin: 0;  }
*{font-family: futuraLight, "Helvetica Neue", sans-serif;}
address{
    font-style: normal;
    padding-left:5%;
}
.mat-display-2,.mat-display-1,.mat-display-3{
    font-family: futuraLight, "Helvetica Neue", sans-serif;
}
