<div class="header" fxLayout="column" style="text-align: center;color:whitesmoke">
    <div class="mat-display-3">Alira</div>
    <div class="mat-display-1">Chatbots For Your Business Needs</div>
    <div class="toggleButtons" >
        <mat-button-toggle-group #group="matButtonToggleGroup" multiple=true>
            <mat-button-toggle 
            *ngFor="let item of toggleOptions;" [value]="item">{{item}}</mat-button-toggle>
          </mat-button-toggle-group>
    </div>
    <div fxLayout="row">
        <div><img src="../../assets/img/home-page/s1.png" alt=""></div>
        <div class="body-1">
            Alira is a communicable bot building platform to create customizable chatbots
            for Lead generation, 24*7 Live chat support, Interactive Landing Pages, 
            Surveys, Enquiries, Appointments, Feedback and Suggestions for your business.
        </div>
    </div>
    
    
</div>
