<div style="padding-left: 20%;">
    <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="space-evenly center"
            style="width: 70%;">
            <div class="plan" fxFlex>Plan</div>
            <div class="Free" fxFlex>Free</div>
            <div class="Starter" fxFlex>Starter</div>
            <div class="Pro" fxFlex>Pro</div>
            <div class="enterprise" fxFlex>Enterprise</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center"
            style="width: 70%;">
            <div class="plan" fxFlex>Solution</div>
            <div class="Free" fxFlex>SaaS</div>
            <div class="Starter" fxFlex>SaaS</div>
            <div class="Pro" fxFlex>SaaS</div>
            <div class="Pro" fxFlex>SaaS/License on cloud/on-premise</div>
        </div>
    </div>
</div>